:root {
  --primary-text-color: #000000;
  --primary-accent-color: #2196f3;
  --secondary-text-color: #212121;
  --secondary-accent-color: #757575;
  --primary-white-color: #ffffff;
  --hero-background-color: #c4c4c4;
  --portfolio-button-bgc: #f5f4fa;
  --primary-bgc-color: #e5e5e5;
  --card-description-border-color: #eeeeee;
  --header-border-color: #ececec;
  --bg-footer-color: #2f303a;
  --social-icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin: auto;
  padding: 0 15px;
  width: 1200px;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .first-part-logo {
  color: var(--primary-accent-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social__list .item + .item {
  margin-left: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list .link:hover, .social__list .link:focus {
  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  fill: currentColor;
}

.footer .social__list .link {
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.footer .social__list .link:hover,
.footer .social__list .link:focus {
  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  fill: currentColor;
}

.button-hero, .button-footer, .button-modal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
}

.button-hero {
  display: inline-block;
}

.button-footer {
  display: flex;
  margin-left: 14px;
}

.button-modal {
  display: block;
  margin: 30px auto 0 auto;
  background-color: #188ce8;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-list .item + .item {
  margin-left: 8px;
}

.nav-button {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--portfolio-button-bgc);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover, .nav-button:focus {
  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}

.card.title {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
}

.card-text {
  color: var(--secondary-accent-color);
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.card-item {
  margin: 15px;
  width: 370px;
}

.card-description {
  background-color: var(--primary-white-color);
  padding: 20px 24px;
  border-left: 1px solid var(--card-description-border-color);
  border-right: 1px solid var(--card-description-border-color);
  border-bottom: 1px solid var(--card-description-border-color);
}

.card-thumb {
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.card-overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: #2196f3e6;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover, .card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link:hover .card-overlay {
  transform: translateY(-100%);
}

.head {
  border-bottom: 1px solid var(--header-border-color);
}

.header {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--primary-accent-color);
}

.link.current {
  position: relative;
  color: var(--primary-accent-color);
}

.link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--primary-accent-color);
}

.contacts-icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img-optimized.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  max-height: 600px;
  text-align: center;
}

.main-header {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  padding-top: 94px;
}

.features__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin-top: 10px;
  color: var(--secondary-accent-color);
  font-size: 14px;
  line-height: 1.71;
}

.features__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--portfolio-button-bgc);
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.features__list {
  display: flex;
}

.features__list .item {
  width: 270px;
}

.features__list .item + .item {
  margin-left: 30px;
}

.what-we-do {
  display: flex;
  margin-top: 50px;
}

.what-we-do .item + .item {
  margin-left: 30px;
}

.what-we-do-thumb {
  position: relative;
}

.what-we-do-description {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: var(--portfolio-button-bgc);
}

.our-team-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.our-team-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team-proffession {
  margin-top: 10px;
  color: var(--secondary-accent-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team-list {
  display: flex;
  margin-top: 50px;
}

.our-team-list > .item + .item {
  margin-left: 30px;
}

.customers-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-list .item + .item {
  margin-left: 30px;
}

.customers-list-icon {
  width: 89px;
  height: 52px;
  fill: currentColor;
}

.customers-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: var(--social-icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .link:hover, .customers-list .link:focus {
  border-color: var(--primary-accent-color);
  color: var(--primary-accent-color);
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-color);
  font-style: normal;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-section {
  margin-right: 70px;
}

.address .item + .item {
  margin-top: 9px;
}

.real-address {
  color: var(--primary-white-color);
  text-decoration: none;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.sign-section {
  width: 570px;
  margin-left: 93px;
}

.sign-title {
  display: block;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  width: 370px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: var(--primary-white-color);
}

.footer-form-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: var(--primary-accent-color);
}

.button-svg {
  width: 18px;
  height: 18px;
}

.form {
  position: absolute;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  margin-bottom: 20px;
}

.form-field .item {
  position: relative;
}

.form-field .item + .item {
  margin-top: 10px;
}

.form-input {
  padding-left: 42px;
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-input:focus + .form-icon {
  fill: var(--primary-accent-color);
}

.form-coment {
  resize: none;
  padding: 12px 16px;
  min-width: 448px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-align: start;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-coment:focus {
  border-color: #2196f3;
  outline: none;
}

.label-checkbox {
  position: relative;
  display: block;
  padding-left: 35px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
}

.label-checkbox::after {
  position: absolute;
  left: 12px;
  top: 5px;
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  outline: 1px solid #ffffff;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox:checked ~ .label-checkbox::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.checkbox:focus ~ .label-checkbox::after {
  outline-color: #000000;
}

.agreement {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */