.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-text-color);
  .what-we-do & {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    .what-we-do & {
      display: block;
    }
  }
}
