.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  & .item + .item {
    margin-left: 10px;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-accent-color);
    color: var(--primary-white-color);
    fill: currentColor;
  }

  .footer & {
    background: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);
  }

  .footer &:hover,
  .footer &:focus {
    background-color: var(--primary-accent-color);
    color: var(--primary-white-color);
    fill: currentColor;
  }
}
